<div class="container">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbrand" href=""><img src="https://i.ibb.co/zJsFQrJ/Git-Hub-Mark-Light-64px.png" alt="Git-Hub-Mark-Light-64px"></a>
        <div class="nav nav-icons nav-fill">
            <a class="nav-item nav-link" href="#">Pull Requests</a>
            <a class="nav-item nav-link" href="#">Issues</a>
            <a class="nav-item nav-link" href="#">Market Place</a>
            <a class="nav-item nav-link" href="#">Explore</a>
        </div>
        <a class="btn btn-primary" routerLink="profile">Users</a>
        <a class="btn btn-primary" routerLink="repos">Repositories</a>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="thisData" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</button>
            <div class="dropdown-menu $zindex-dropdown:1000 !default;" aria-labelledby="thisData">
                <a class="dropdown-item" href="">Settings</a>
                <a class="dropdown-item" href="">Favorites</a>
                <a class="dropdown-item" href="">Sign Up</a>
            </div>
        </div>
    </nav>
    
